footer {
    display: flex;
    justify-self: end;
    align-items: center;
    grid-row: 3/4;
    grid-column: 4/1;
    height: 320px;
    width: 100%;
}

/* ==============================
   CONTAINER PRINCIPAL
================================ */

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin-inline: auto;
    padding: 30px;
}

/* ==============================
   REDES SOCIAIS
================================ */

#social-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#links-social {
    display: flex;
    gap: 10px;
}

.footer-link-social {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.10);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--accent);
        transform: scale(1.1);
    }
}

.footer-link-social i {
    font-size: 25px;
}


/* ==============================
   LINKS RÁPIDOS
================================ */

#quick-links h3 {
    margin-bottom: 20px;
}

#list-quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#list-quick-links a:hover {
    color: var(--accent)
}

/* ==============================
   MÉTODOS DE PAGAMENTOS
================================ */

#footer-methods {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#payment-methods span {
    background-color: rgba(255, 255, 255, 0.10);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}